@{
    ViewData["Title"] = "Home Page";
}
<!--   -->
<div class="text-center">
     <!-- we make table and its headers -->
    <table>
        <tr> 
            <th>
                id
            </th>
            <th>
                name
            </th>
            <th>
                description
            </th>
            <th>
                price
            </th>
            <th>
                weight
            </th>
        </tr>
  @{BakeryContext context = (BakeryContext) ViewData["context"];}

        @foreach (Product  product in  context.Products) {<tr>
               <td>
                @product.Id
            </td>
            <td>
               <a href="/product/item/@product.Id">@product.Name</a> 
            </td>
            <td>
                @product.Description
            </td>
            <td>
                @product.Price
            </td>
            <td>
                @product.Weight
            </td> 
            </tr>
        }
         </table>
</div>
