@model IEnumerable<app.Models.FeedbackRow>
@{
    ViewData["Title"] = "Feedbacks";
}
<div class="text-center">
    <table>
        <tr> 
            <th>
                id
            </th>
            <th>
                Product
            </th>
            <th>
                User
            </th>
            <th>
                Feedback
            </th>
            <th>
                Mark
            </th>
        </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Product 
                </td>
                <td>
                    @item.User
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                    @item.Mark
                </td> 
            </tr>
        }
         </table>
</div>
